.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}


.top_btn{
    display: flex;
    gap: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}


.form_control input{
    height: 40px;
    padding: 0 10px;
}

.form_control label{
    position: absolute;
    top: -14px;
    left: 14px;
    background-color: white;
    padding: 0 12px;
}

.form_control textarea{
    padding: 12px 10px;
}

.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.submit_btn{
    display: flex;
    justify-content: end;
}

.hero_image{
    height: 495px;
    /* width: 100px; */
}